parameters:
	ignoreErrors:
		-
			message: '#^Method Boomerang\\Boomerang\:\:addValidator\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Method Boomerang\\Boomerang\:\:main\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Method Boomerang\\Boomerang\:\:main\(\) has parameter \$args with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Method Boomerang\\Boomerang\:\:selfUpdate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Method Boomerang\\Boomerang\:\:versionMarker\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Property Boomerang\\Boomerang\:\:\$boomerangPath has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Property Boomerang\\Boomerang\:\:\$bootstrap has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Property Boomerang\\Boomerang\:\:\$pathInfo has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Property Boomerang\\Boomerang\:\:\$verbosity has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/Boomerang.php

		-
			message: '#^Method Boomerang\\Exceptions\\CliRuntimeException\:\:__construct\(\) has parameter \$exit_code with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Exceptions/CliRuntimeException.php

		-
			message: '#^Method Boomerang\\Exceptions\\CliRuntimeException\:\:__construct\(\) has parameter \$message with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Exceptions/CliRuntimeException.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:composeUrl\(\) has parameter \$parsed_url with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getBody\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getFlatHeaders\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getHeaders\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getPost\(\) has parameter \$key with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getPostData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getUrlParam\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:getUrlParams\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setBasicAuth\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setBody\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setBody\(\) has parameter \$body with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setCookie\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setCookies\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setCookies\(\) has parameter \$cookies with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setCookiesFollowRedirects\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setEndpoint\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setFormValue\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setHeader\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setHeaders\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setHeaders\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setMaxRedirects\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setMethod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setPost\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setPostData\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setPostData\(\) has parameter \$post with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setUrlParam\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setUrlParam\(\) has parameter \$value with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setUrlParams\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpRequest\:\:setUrlParams\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$body type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$cookies has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$cookiesFollowRedirects has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$curlInfo has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$endpointParts has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$headers has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$lastRequestTime has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Property Boomerang\\HttpRequest\:\:\$maxRedirects has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/HttpRequest.php

		-
			message: '#^Method Boomerang\\HttpResponse\:\:getAllHeaders\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpResponse.php

		-
			message: '#^Method Boomerang\\HttpResponse\:\:getHeaders\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpResponse.php

		-
			message: '#^Property Boomerang\\HttpResponse\:\:\$headerSets type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/HttpResponse.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getAllHeaders\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getHeader\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getHeader\(\) has parameter \$header with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getHeader\(\) has parameter \$hop with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getHeaders\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getHeaders\(\) has parameter \$hop with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getHopCount\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getRawHeaders\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getRequest\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getStatus\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\HttpResponseInterface\:\:getStatus\(\) has parameter \$hop with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Interfaces/HttpResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\ResponseInterface\:\:getBody\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Interfaces/ResponseInterface.php

		-
			message: '#^Method Boomerang\\Interfaces\\TypeExpectationInterface\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Interfaces/TypeExpectationInterface.php

		-
			message: '#^Method Boomerang\\JSONValidator\:\:jsonDecode\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/JSONValidator.php

		-
			message: '#^Method Boomerang\\JSONValidator\:\:jsonDecode\(\) has parameter \$json with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/JSONValidator.php

		-
			message: '#^Method Boomerang\\JSONValidator\:\:jsonDecode\(\) has parameter \$result with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/JSONValidator.php

		-
			message: '#^Method Boomerang\\Runner\\TestRunner\:\:getFileList\(\) has parameter \$path with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/Runner/TestRunner.php

		-
			message: '#^Method Boomerang\\Runner\\TestRunner\:\:runTests\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Runner/TestRunner.php

		-
			message: '#^Property Boomerang\\Runner\\TestRunner\:\:\$bootstrap has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/Runner/TestRunner.php

		-
			message: '#^Property Boomerang\\Runner\\TestRunner\:\:\$path has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/Runner/TestRunner.php

		-
			message: '#^Call to function is_string\(\) with \*NEVER\* will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Instanceof between Boomerang\\Interfaces\\ExpectationResultInterface and Boomerang\\Interfaces\\ExpectationResultInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Instanceof between Boomerang\\Interfaces\\ValidatorInterface and Boomerang\\Interfaces\\ValidatorInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Method Boomerang\\Runner\\UserInterface\:\:dropError\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Method Boomerang\\Runner\\UserInterface\:\:dumpOptions\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Method Boomerang\\Runner\\UserInterface\:\:outputMsg\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Method Boomerang\\Runner\\UserInterface\:\:updateExpectationDisplay\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/Runner/UserInterface.php

		-
			message: '#^Property Boomerang\\StructureValidator\:\:\$data has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/StructureValidator.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\AllEx\:\:match\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/AllEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\AnyEx\:\:match\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/AnyEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\IntEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/IntEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\Iterate\\IterateArrayEx\:\:isAssoc\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/Iterate/IterateArrayEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\Iterate\\IterateArrayEx\:\:isAssoc\(\) has parameter \$arr with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/Iterate/IterateArrayEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\Iterate\\IterateArrayEx\:\:match\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/Iterate/IterateArrayEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\Iterate\\IterateArrayEx\:\:validType\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/Iterate/IterateArrayEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\Iterate\\IterateArrayEx\:\:validType\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/Iterate/IterateArrayEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\Iterate\\IterateStructureEx\:\:match\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/Iterate/IterateStructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\NullEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/NullEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\NumberEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/NumberEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\NumericEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/NumericEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\NumericEx\:\:rangeValidation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/NumericEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\NumericEx\:\:rangeValidation\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/NumericEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\NumericStringEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/NumericStringEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\RegexEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/RegexEx.php

		-
			message: '#^Property Boomerang\\TypeExpectations\\RegexEx\:\:\$pattern has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/TypeExpectations/RegexEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StringEx\:\:match\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/StringEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StringEx\:\:rangeValidation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/StringEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StringEx\:\:rangeValidation\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Boomerang/TypeExpectations/StringEx.php

		-
			message: '#^Instanceof between Boomerang\\Interfaces\\ExpectationResultInterface and Boomerang\\Interfaces\\ExpectationResultInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:__validate\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:__validate\(\) has parameter \$path with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:__validate\(\) has parameter \$validation with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:__validate\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:addExpectationResults\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:getScalarTypeName\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:makePathName\(\) has parameter \$path with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:match\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:setPath\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:setPath\(\) has parameter \$path with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Method Boomerang\\TypeExpectations\\StructureEx\:\:setValidator\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Property Boomerang\\TypeExpectations\\StructureEx\:\:\$path has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Property Boomerang\\TypeExpectations\\StructureEx\:\:\$structure has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Boomerang/TypeExpectations/StructureEx.php

		-
			message: '#^Function includeIfExists\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/bootstrap.php

		-
			message: '#^Function includeIfExists\(\) has parameter \$file with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/bootstrap.php
