<phpunit bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="Application">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
