<phpunit bootstrap="test/bootstrap.php"
    failOnPhpunitDeprecation="true" failOnDeprecation="true" displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="Application">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>
